<% layout("/layouts/boilerplate") %>
<div class="row errPage">
  <div>
    <img
      src="https://cdn4.iconfinder.com/data/icons/chat-bots-blue-filled-color/300/34735651Untitled-3-512.png"
      alt="errorImage"
    />
  </div>
  <div class="alert alert-danger" role="alert">
    <h3><%=message%></h3>
  </div>
</div>
